{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block body %}
    <div>
    {% for a in avis %}
    <div>
        <p>Votre avis sur le produit :{{ a.produit }}</p>
        <p>Votre message :{{ a.texte }}</p>
        <p>Votre note sur 5 :{{ a.note }}</p>
        <p>Date : {{ a.dateDepot|date('d/m/y h:i') }}</p>
    </div>
    <hr>
    {% else %}

        <p>Vous n'avez pas de commentaire encore</p>
    {% endfor %}
    </div>
    <hr>
{% endblock %}
